.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 4em;
  width: 4em;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 5px;
  cursor: pointer;
  background-image: url("./assets/bg.jpg");
  background-position: center;
  background-size: cover;
  transition: transform 0.2s;
}
